
.main{
    height: 350px;
    background-image:url('/images/banner.jpg');
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
}

@media (max-width: 992px) {
    .main{
        height: 200px;
    }
}
