.border{
    border-bottom: 1px solid #bbb;
}
.border:last-child{
    border-bottom: none;
}
.image{
    transition: all .2s ease-in-out
}
.image:hover{
    transform: scale(1.3);
}
.wrap{
    word-break: break-all;
}
.title{
    color: #222;
    text-decoration: none;
}
.title:hover{
    color: #444;
    text-decoration: none;
}

.details{
    display: flex;
    justify-content: space-between;
}